{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.dater) }}
    {{ form_row(form.etat, {'attr':{'placeholder':'Taper un nom'}}) }}
    {{ form_row(form.cli) }}
    {{ form_row(form.service) }}
    <button type="submit">update</button>
    {{ form_end(form) }}
{% endblock %}
