{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.nomcli, {'attr':{'placeholder':'Taper un nom'}}) }}
    {{ form_row(form.prenomcli, {'attr':{'placeholder':'Taper un prenom'}}) }}
    {{ form_row(form.adresse, {'attr':{'placeholder':'Taper une adresse'}}) }}
    {{ form_row(form.email, {'attr':{'placeholder':'Taper un email'}}) }}
    <button type="submit">update</button>
    {{ form_end(form) }}
{% endblock %}
